# === Python cache / build files ===
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.log

# === Virtual environments ===
.venv/
venv/
.env/
.env.bak/
.venv1/

# === IDE ===
.idea/

# === Git repository in subfolder ===
labelImg/

# === Model files ===
*.pt
*.pth
*.ckpt
*.weights

# === Datasets ===
car_dataset/
cropped_dataset/
runs/
*.jpg
*.jpeg
*.png
*.bmp
*.tiff

# === Videos ===
*.mp4
*.avi
*.mov

# === Misc ===
.DS_Store
